@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text: #e0f8e1;
    --background: #041306;
    --primary: #e5dc91;
    --secondary: #20318b;
    --accent: #d447a6;
    --white: #F8FBFF;
}

*,
*::after,
*::before { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', 'Silkscreen';
}

body {
    background-color: var(--background);
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 40vh;
    margin: 200px 200px;
    border: 5px solid var(--white);
    border-radius: 25px;
    padding: 10px;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P';
    color: var(--text);
    margin: 10px 10px;
}

#description {
    font-family: 'Silkscreen';
    color: var(--text);
    margin: 20px 10px;
}

#number-attempts {
    color: var(--text);
}

#result-container {
    color: var(--text);
}

#inputGuess {
    border: 3px solid var(--primary);
    height: 50px;
    padding: 5px;
}

#btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#submit-btn, #restart-btn {
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    font-size: 10px;
    padding: 5px 10px;
    height: 20px;
    color: var(--text);
    margin: 15px 10px;
}

#number-attempts {
    color: var(--text);
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: center; /* Align items horizontally */
    margin-bottom: 10px; /* Add margin for spacing */
}

#attempt-description {
    margin: 10px;
}

.highlight {
    color: var(--accent);
}